// Place all the styles related to the HBAMebership controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// ---------------------------------------------------------------------------
// Imports

@import "base";

/* -------------------------------------------------------------------------*/
/* Layout */

body {
  @include container;
  @include susy-grid-background;
  background-color:lightgray;
  align-content: center;
  padding: 1em;
}
//.main_container{
////  @include set-container_width(8);
//  @include span-columns(12);
//}
td {border: 1px solid black;}

.main_container{
  background-color: white;
}
.footer{
  background-color: #EFEFEF;
  margin-top:30px;
}
.new_member{
  background-color: #000;
  text-decoration-color: white;
  border: 0;
  color: #FFFFFF !important;
  font-size: 1.5em;
  border-radius: .3125em;

  &:hover{
    background-color: #ABABAB;
  }

  a{
    text-decoration: none;
    color: white;

     &:visited {
      color: #fff;
     }

    &:hover {
      color: #fff;
      background-color: #ABABAB;
    }

  }
}

.footer{
  @include span-columns(12)
}

.members_list{
  @include span-columns(5, 5);
  background: white;
}


.members_table {
// background-color: lightblue;
  border-spacing: 0px;
  width: 100%;
  align-content: center;
  border: solid black thin;
}

.members_table th{
  background-color: blue;
  color: white;
}

.veritical_spacer{
  padding:5px;
  width: 100%;
}