// Place all the styles related to the HBAMebership controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body{
  align-content: center;
  padding: 1em;
}
.new_member{
  background-color: slategray;
  border: 0;

}
.new_member a{
  text-decoration: none;
  color: black;
}