// Place all the styles related to the HBAMebership controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// ---------------------------------------------------------------------------
// Imports

@import "base";

/* -------------------------------------------------------------------------*/
/* Layout */

body {
  @include container;
  @include susy-grid-background;
  background-color:lightgray;
  align-content: center;
  padding: 1em;
}
//.main_container{
////  @include set-container_width(8);
//  @include span-columns(12);
//}
td {border: 1px solid black;}

.main_container{
  background-color: white;
}
.footer{
  background-color: #EFEFEF;
}
.new_member{
  background-color: #EFEFEF;
  border: 0;

}
.new_member a{
  text-decoration: none;
  color: black;
}

.footer{
  @include span-columns(12)
}

.members_list{
  @include span-columns(5, 5);
  background: white;
}


.members_table {
  // background-color: lightblue;
  border-collapse:collapse;
  border-spacing: 0px;
  width: 100%;
  align-content: center;
  border: solid black thin;
}

.members_table th{
  background-color: blue;
  color: white;
}