<h1>HBA Memberships</h1>

<button type='button' class="new_member">
  <%= link_to 'Show Members', members_path%>
</button>

<button type='button' class="new_member">
<%= link_to "Add New Member", new_member_path %>
</button>

